::-webkit-input-placeholder {
  color: #a2a3a0;
}

:-moz-placeholder {
  color: #a2a3a0;
}

::-moz-placeholder {
  color: #a2a3a0;
}

:-ms-input-placeholder {
  color: #a2a3a0!important;
}

::-ms-input-placeholder {
  color: #a2a3a0;
}

::placeholder {
  color: #a2a3a0;
}
