.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  /*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(75,108,183,1) 0%, rgba(55,82,141,1) 90% );*/
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  text-transform: uppercase;

  @media #{$small-up} {
    padding: 2em;
  }

  .header-wrapper {
    width: 100%;
  }

  .header-wrapper-flex {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
    .flex-grid__list{
      .hex-grid__item {
        width: calc(100% / 2 - 10px);
        margin: 0 10px 0px 0;
        &:nth-child(2n){
          margin: 0 0 0px 0;
        }
      }
    }

  }


}
