@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$font-family-text: 'Fira Code', monospace;

$base-font-size: 16;
$base-line-height: 1.44;

$wght200: 200;
$wght300: 300;
$wght400: 400;
$wght500: 500;
$wght600: 600;
$wght700: 700;
